/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/
:root {
  --branding-color: #c2b9b0;
  --alternative-color: #123c69;
  --third-color: #afd275;
  --secondary-color: linear-gradient(
    to bottom right,
    #f9c395,
    #f59e94,
    #e26671,
    #a24d72
  );
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: white;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin-top: 20px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--alternative-color);
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active {
  color: var(--third-color);
}

.logo {
  max-height: 70px;
  max-width: 180px;
}
.small-logo {
  max-height: 60px;
  max-width: 130px;
}

.hero {
  background: linear-gradient(
    -45deg,
    #f9c395,
    #f59e94,
    #ee7752,
    #e26671,
    #a24d72
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero {
  text-align: center;
  padding: 80px 20px;
  font-size: 1rem;
  line-height: 30px;
  margin-top: 20px;
}
.hero h1 {
  font-size: 6rem;
  line-height: 1.5;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 3rem;
  font-size: 1.5rem;
  color: white;
}

.hero h3 {
  font-size: 2.5rem;
  font-family: var(--default-font-family);
  color: #fff;
  line-height: 1.5;
}

.welcome .btn-branding {
  background: var(--third-color);
  border-radius: 4px;
  color: white;
  font-size: 1.13rem;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  background-color: var(--branding-color);
  color: white;
}

.box-about .about-me {
  margin-top: 30px;
  padding: 10px;
}
.box-about img {
  float: right;
  max-width: 80%;
  height: auto;
  margin-top: 40px;
  border-radius: 15px;
  display: block;
}

.box-about h4 {
  font-size: 1.3rem;
  color: var(--alternative-color);
}

.about-me h1 {
  font-size: 3.8rem;
  line-height: 1.5;
  color: #000;
  font-family: var(--heading-font-family);
}

.about-me h3 {
  font-size: 1.7rem;
  line-height: 1.5;
  color: #000;
  font-family: var(--heading-font-family);
}

.about-me .btn-primary {
  background: var(--third-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 1.13rem;
  line-height: 1.7rem;
  padding: 15px 30px;
}

.btn-primary:hover {
  background-color: var(--branding-color);
  border: 1px solid var(--branding-color);
  color: white;
}

.about-me .btn-secondary {
  background: var(--alternative-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 1.13rem;
  line-height: 1.7rem;
  padding: 15px 30px;
}
.btn-secondary:hover {
  background-color: var(--branding-color);
  border: 1px solid var(--branding-color);
  color: white;
}

.content-container .content {
  margin-top: 100px;
  padding: 30px 20px;
  text-align: center;
}

.content-container .content h1 {
  font-family: var(--heading-font-family);
  font-size: 4rem;
  line-height: 80px;
  color: black;
  margin-top: 0;
}

.content-container .content h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 3rem;
  color: black;
  font-weight: bold;
}
.content-container .content h3 {
  font-size: 1.5rem;
  font-family: var(--default-font-family);
  color: black;
  line-height: 1.5;
}

.content-container .content h5 {
  color: var(--alternative-color);
}

.content-container .content p {
  font-size: 0.88rem;
  font-family: var(--default-font-family);
  font-size: 1rem;
  line-height: 30px;
}

.content-container .content img {
  float: center;
  max-width: 90%;
  height: auto;
  margin-top: 40px;
  border-radius: 15px;
  margin: auto;
  display: block;
}

.content-container .content a {
  color: var(--alternative-color);
  text-decoration: none !important;
}

.content-container .frontend {
  margin-top: 60px;
  padding: 30px 20px;
  text-align: center;
}

.content-container .frontend h3 {
  font-size: 1.5rem;
  font-family: var(--default-font-family);
  color: black;
  line-height: 1.5;
}

.content-container .frontend h2 {
  font-family: var(--heading-font-family);
  color: black;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.frontend {
  margin-top: -40px;
  padding: 30px 20px;
}

.frontend .row {
  margin-top: 60px;
}

.content-container .frontend img {
  float: center;
  width: 90%;
  height: 80%;
  object-fit: cover;
  margin: auto;
  display: block;
}

.content-container .frontend #second-line img {
  width: 90%;
  height: 65%;
}

.content-container .frontend #second-line div {
  margin-top: 20px;
}

.content-container .frontend #third-line div {
  margin-top: -80px;
}

.content-container .frontend #third-line img {
  width: 90%;
  height: 80%;
}

.content-container .frontend #four-line div {
  margin-top: 20px;
}

.content-container .frontend #four-line img {
  width: 90%;
  height: 80%;
}
.content-container .frontend a {
  color: var(--alternative-color);
  text-decoration: none !important;
}

footer {
  margin: 60px 0;
  margin-top: 40px;
  padding: 30px 120px;
}
footer .contact-box {
  background-color: #f4f7f6;
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
  color: black;
}
footer .contact-box h4 {
  color: black;
  font-size: 2.5rem;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
footer .email-link:hover {
  color: var(--third-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--alternative-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 1.13rem;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
Footer .btn-branding {
  background: var(--third-color);
  border-radius: 4px;
  color: white;
  font-size: 1.13rem;
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--branding-color);
}

Footer .btn-branding:hover {
  background-color: var(--branding-color);
  color: white;
}

Footer a {
  color: var(--alternative-color);
  text-decoration: none !important;
}

@media (max-width: 900px) {
  h1 {
    font-size: 2.75rem;
    line-height: 3.5rem;
  }
  h2 {
    font-size: 2.75rem;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .content h1 {
    font-size: 2.75rem;
    line-height: 3.5rem;
  }
}
